<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtMklIoTZlYkYeMGZQMAosakg4ZW2E9qY</string>
	<key>GCM_SENDER_ID</key>
	<string>676295086016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vcaller.VCaller</string>
	<key>PROJECT_ID</key>
	<string>vcaller-5fe7c</string>
	<key>STORAGE_BUCKET</key>
	<string>vcaller-5fe7c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676295086016:ios:6ae2b3a1cc1be887c74225</string>
</dict>
</plist>